
<mat-form-field appearance="fill">
  <mat-select>
    <mat-option *ngFor="let matchesNumber of matchesOptions" [value]="matchesNumber">{{matchesNumber}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-tab-group animationDuration="0ms">
  <mat-tab *ngFor="let leaderboard of leaderboards$ | async" [label]="leaderboard.string">
    <ng-container *ngIf="(getLeaderboardData$(leaderboard.id) | async) as leaderboardData">
      <app-leaderboard-tab [leaderboardData]="leaderboardData"></app-leaderboard-tab>
    </ng-container>
  </mat-tab>
</mat-tab-group>
